[submodule "docker/generic-configuration-image/vnf-template-library"]
	path = docker/generic-configuration-image/vnf-template-library
	url = https://github.com/netgroup-polito/vnf-template-library.git
	branch = yang_model_support
